/* style.css */

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* 슬라이더 밑 불릿모양 컬러 */
:root{--swiper-theme-color:#000}

/* html, body {
        position: relative;
        height: 100%;
      } */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}



ul {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

.wrap {
    width: 100vw;
    /* height: 100%; */
    /* background-color: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}



/* header */
.wrap .header-container {
    max-width: 1440px;
    width: 100%;
    /* outline: 1px solid red; */
    /* align-items: center; */
    height: 100px;
    position: relative;
    z-index: 999;
}

.wrap .header-container .gnb {
    display: flex;
    justify-content: space-around;
}

.wrap .header-container .gnb .site-map {
    margin-right: 20px;
    padding-top: 30px;
}

.wrap .header-container .gnb .menu .depth1 {
    display: flex;
    text-align: center;
    padding-top: 30px;
    white-space: nowrap;
}

/* 사이트맵 */

.wrap .header-container .gnb .menu .depth1 li a {
    color: #000;
    font-size: 20px;
}

.wrap .header-container .gnb .menu .depth1 > li > a {
    margin-right: 100px;
}

.wrap .header-container .gnb .menu .depth1 li a:hover {
    color: #488c15;
}

.wrap .header-container .gnb .menu .depth2 > li > a {
    display: block;
    padding: 10px;
    text-align: left;
}





/* 2단계 메뉴 안보임 */
.wrap .header-container .gnb .menu .depth1 .depth2 {
    margin-top: 40px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

/* 2단계 메뉴 보임 */
.wrap .header-container .gnb .menu .depth1 .depth2.show {
    max-height: 100%;
    opacity: 1;
    background-color: #fff;
    outline: 1px solid #3d3842;
    transition: 0.7s;   
}

/* 로고 */
.wrap .header-container .gnb .logo {
    margin-left: 20px;
    padding-top: 30px;
}

/* sitemap */

#site-map-menu {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    background: #fff;
    box-shadow: 2px 2px 2px 3px #3d3842;
    transition: 0.4s;
}

#site-map-menu.active {
    left: 50%;
    transform: translate(-50%, 0);
    top: 20%;
    width: 1000px;
    height: 800px;
    opacity: 1;
    transition: 0.4s;
}

#site-map-menu .site-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#site-map-menu .site-logo #site-menu-close {
    cursor: pointer;
    background-color: transparent;
    border-style: none;
} 

#site-map-menu .site-menu {
    width: 1000px;
    height: 800px;
    text-align: center;
    padding-top: 10px;
}

#site-map-menu .site-menu .depth1, #site-map-menu .site-menu .depth1-2 {
    display: flex;
    justify-content: space-around;
}

#site-map-menu .site-menu .depth1, #site-map-menu .site-menu .depth1-2 {
    margin-top: 100px;
}

#site-map-menu .site-menu .depth1 > li > a,
#site-map-menu .site-menu .depth1-2 > li > a {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

#site-map-menu .site-menu .depth1 .depth2,
#site-map-menu .site-menu .depth1-2 .depth2 {
    margin-top: 20px;
}

#site-map-menu .site-menu .depth1 .depth2 > li,
#site-map-menu .site-menu .depth1-2 .depth2 > li {
    margin-top: 10px;
}

#site-map-menu .site-menu .depth1 .depth2 > li > a,
#site-map-menu .site-menu .depth1-2 .depth2 > li > a {
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s;
    color: #000;
}

#site-map-menu .site-menu .depth1 .depth2 > li > a:hover,
#site-map-menu .site-menu .depth1-2 .depth2 > li > a:hover {
    background-color: #3d3842;
    color: #fff;
}

/* main-banner */
.wrap .main-banner {
    max-width: 100%;
    height: 100%;
}

.wrap .main-banner .swiper .swiper-wrapper:nth-child(1) {
    background-image: url(../images/main-title/main-titlebg-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap .main-banner .swiper .swiper-wrapper .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
}

/* .wrap .main-banner #main-banner-box,
.wrap .main-banner #main-banner-box2,
.wrap .main-banner #main-banner-box3 {
    padding-top: 150px;
    outline: 1px solid red;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.wrap .main-banner .swiper .swiper-wrapper .swiper-slide .main-banner-text p {
    font-size: 30px;
    color:#fff;
    font-weight: 500;
    margin-bottom: 5px;
}

.wrap .main-banner .swiper .swiper-wrapper .swiper-slide .main-banner-img img {
    margin-left: 200px;
    width: 452px;
}

/* .wrap .main-banner #main-banner-box .main-banner-img,
.wrap .main-banner #main-banner-box2 .main-banner-img,
.wrap .main-banner #main-banner-box3 .main-banner-img {
    padding: 80px 30px;
} */

/* 베스트셀러 section */
.wrap .best-book {
    max-width: 1440px;
    width: 100%;
    /* outline: 1px solid blue; */
    padding-bottom: 100px;
}

.wrap .best-book h1 {
    margin-top: 100px;
    margin-left: 20px;
    display: inline-block;
    font-size: 30px;
}

.wrap .best-book .best-book-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.wrap .best-book .best-book-list > img {
    margin-top: 100px;
    width: 300px;
    height: 400px;

}

/* 새로나온 책 section */
.wrap .new-book {
    max-width: 1440px;
    width: 100%;
    /* outline: 1px solid blue; */
    padding-bottom: 100px;
}

.wrap .new-book h1 {
    margin-left: 20px;
    display: inline-block;
    font-size: 30px;
}

.wrap .new-book .new-book-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.wrap .new-book .new-book-list > img {
    margin-top: 100px;
    width: 300px;
    height: 400px;
}

/* ----------main-section-notice---------- */
/* notice */
.section-notice {
    max-width: 1440px;
    width: 100%;
    margin-bottom: 80px;
    padding: 20px;
    background-color: rgba(165, 165, 165, 0.1);
    position: relative;
  }
  .section-notice.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: block;
    animation: movein 1s ease-in-out forwards;
    height: 50%;
    background: #fff3f6;
  }
  .section-notice.active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    animation: movein 1s ease-in-out forwards;
    height: 50%;
    background: #ffc5c5;
  }
  @keyframes movein {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
  .section-notice-title {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  
  .section-notice-title h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .section-notice-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 60px;
  }
  .notice-menu {
    margin-top: 40px;
    width: 260px;
    height: 260px;
    background: #fff;
    padding: 15px 25px;
    position: relative;
    transition: transform 0.3s;
    border: 1px solid #fff3f6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .notice-menu:hover {
    transform: scale(1.1);
  }

  .notice-menu h2 {
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 13px;
    color: #333;
  }
  .notice-menu h3 {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    height: 78px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
    margin-bottom: 20px;
  }

  .notice-menu h4 {
    font-size: 14px;
    color: #333;
    font-weight: 400;
  }

  .notice-menu-btn {
    width: 55px;
    height: 55px;
    position: absolute;
    right: 15px;
    bottom: 10px;
  }

  .notice-menu-btn a {
    margin-top: 30px;
    color: #488c15;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.section-notice .section-notice-menu .notice-menu a h2:hover,
.section-notice .section-notice-menu .notice-menu .notice-menu-btn a:hover {
    text-decoration: underline;
}

/* 블로그 section */

.wrap .blog {
    max-width: 1440px;
    width: 100%;
    /* outline: 1px solid blue; */
    padding-bottom: 100px;
}

.wrap .blog h1 {
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
}

.wrap .blog .blog-box .blog-img > img {
    width: 250px;
    height: 260px;
}

.wrap .blog .blog-box {
    display: flex;
    gap: 67px;
    margin: 0 120px;
}

.wrap .blog .blog-box .blog-content {
    margin-top: 100px;
    display: flex;
}

.wrap .blog .blog-box .blog-content:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.wrap .blog .blog-box .blog-content .blog-text a > h2:hover,
.wrap .blog .blog-box .blog-content .blog-text .blog-menu-btn a:hover {
    text-decoration: underline;
}

.wrap .blog .blog-box .blog-content .blog-text h2 {
    margin-bottom: 20px;
}

.wrap .blog .blog-box .blog-content .blog-text p {
    margin-bottom: 30px;
    font-size: 14px;
}

.wrap .blog .blog-box .blog-content .blog-text .blog-menu-btn {
    text-align: right;
}

.wrap .blog .blog-box .blog-text {
    margin-left: 37px;
}

.wrap .blog .blog-box .blog-text h2 {
    /* text-overflow: ellipsis; */
    font-size: 20px;
    font-weight: 700;
    color: #488c15;
}

.wrap .blog .blog-box .blog-text .blog-menu-btn a {
    font-size: 12px;
    color: #488c15;
}

.wrap .blog .blog-box .blog-content {
    margin-bottom: 60px;
}

/* ----------upbtn---------- */
.upbtn {
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 0px;
    height: 0px;
    font-size: 30px;
    /* opacity: 0;
    overflow: hidden;
    transition: opacity 1s; */
  }
  .upbtn.active {
    height: 30px;
    width: 30px;
    opacity: 1;
  }

  .upbtn a i {
    color: #3d3842;
  }



/* ----------footer---------- */
footer {
    max-width: 100vw;
    width: 100%;
    height: 200px;
    background-color: #3d3842;
    display: flex;
    justify-content: center;
    color: #fff;
  }

footer .footer-text, footer .sns-icon {
    max-width: 1440px;
    align-items: center;
    margin-left: 100px;
    
}

footer .footer-text a {
    color: #fff;
}

footer .footer-text  .footer-bold {
    font-weight: 700;
    font-size: 15px;
    color: #fff;
}

  .footer-text {
    flex: 3;
    font-size: 14px;
    padding-top: 30px;
    padding-right: 40px;
  }
  .footer-text p:first-child {
    margin-bottom: 10px;
  }
  .footer-text p:nth-child(2) {
    margin-bottom: 5px;
  }
  .footer-bold {
    font-weight: 700;
    font-size: 15px;
  }


footer .sns-icon {
    display: flex;
    gap: 20px;
    margin-right: 100px;
}

/* 메인 배너 슬라이더 */
.wrap .main-banner .swiper {
    width: 100%;
    height: 100vh;
    }

.wrap .main-banner .swiper-wrapper .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }

.wrap .main-banner .swiper .swiper-button-next {
    margin-right: 20px;
} 

/* .wrap .main-banner .swiper-wrapper .swiper-slide img {
    display: block;
    margin-top: 100px;
    margin-bottom: 60px; 
    max-width: 300px;
    height: 400px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    } */





/* 책 슬라이더 */
      .wrap .best-book .swiper,
      .wrap .new-book .swiper {
        max-width: 1440px;
        height: 100%;
      }

      .wrap .best-book .swiper-wrapper .swiper-slide,
      .wrap .new-book .swiper-wrapper .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        flex-wrap: wrap;
      }

      .wrap .best-book .swiper-wrapper .swiper-slide img,
      .wrap .new-book .swiper-wrapper .swiper-slide img {
        display: block;
        margin-top: 100px;
        margin-bottom: 60px;
        max-width: 300px;
        height: 400px;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
      }
